
@{
    ViewBag.Title = "EmailConfirmation";
}

<div class="container" style="font-family:'Segoe UI'; background-color:lightblue; border:thin; border-radius:3%; padding:10%; font-size:x-large; margin:10%">
    <div class="col-lg-10">
        We sended you an email. Please check your inbox and confirm your identity before you continue.
    </div>
</div>

