
@{
    ViewBag.Title = "EmailConfirmation";
}

<div class="container" style="font-family:'Segoe UI'; background-color:lightblue; border:thin; border-radius:3%; padding:10%; font-size:x-large; margin:10%">
    <div class="col-lg-10">
        You're registration is successfully, you are now regular user of Weather solution. Please sign in to continue.
    </div>
</div>

