
@{
    ViewBag.Title = "User dont exist";
}

<div class="container" style="font-family:'Segoe UI'; background-color:lightblue; border:thin; border-radius:3%; padding:10%; font-size:x-large; margin:10%">
    <div class="col-lg-10">
       User no longer exist in our database, please sign up.
    </div>
</div>

