
@{
    ViewBag.Title = "Index";
}
<div>
    <h2 class="flex-container" style="font-family:'Segoe UI'">Welcome to Weather Solution</h2>
</div>

<div class="flex-container" style="font-family:'Segoe UI';font-size:medium; margin-top:3%; margin-bottom:3%">
    <div><h3>- Why weather is immportant? -</h3></div>
    <p style="margin-top:3%; margin-bottom:3%">
        Good question! Weather is important in people's lives in many different ways. Weather, including winds, thunderstorms, hurricanes, and tornadoes, is really just the earth's way of redistributing heat around its surface.
        Heat from the sun causes ocean surface waters to evaporate near the equator; the heat is carried in the water vapor and is released during big thunderstorms and hurricanes.
        Winds are caused by pressure gradients, which are formed by hot air rising or cold air sinking.
    </p>
    <p>Heat from the sun causes ocean surface waters to evaporate near the equator; the heat is carried in the water vapor and is released during big thunderstorms and hurricanes.</p>
    <p>Weather is important to people in many different ways, but several major examples come to mind:</p>
    <ul>
        <li>
            <p>
                Weather controls the distribution of rain water on earth. All living organisms on earth require liquid water to survive, and humans require fresh (not salty) water for drinking and agriculture (growing crops for food). Droughts can have a major impact on humans and have killed millions of people throughout history.
            </p>
        </li>
        <li>
            <p>
                "Severe" weather such as hurricanes, tornadoes, and floods have a huge impact on human civilizations. An obvious example of this was Hurricane Katrina, which impacted a huge are of the gulf coast of the U.S., killed nearly two thousand people, and displaced over one million people from their homes.
            </p>
        </li>
        <li>
            <p>
        The first two examples show some of the negative impacts of weather, but weather has also played an important role in the distributions of humans on earth and the development of different cultures. The climate (the long-term weather of an area) ultimately determines if an area will be nice for people to inhabit. Throughout history, climate has influenced migrations of humans over the earth. For example, there is a prevailing idea in archaeology that humans migrated into North America from Asia during a time of colder climate and lower sea level. </li>  
        </p>
    </ul>
</div>



